/***
* DO NOT ADD/MODIFY STYLING HERE. IT WILL BE OVERWRITTEN IF YOU UPDATE THE TEMPLATE VERSION.
* MODIFY THE custom-style.scss FILE INSTEAD.
***/

:root {
    --background-primary: rgb(32, 31, 31);
    --background-secondary: rgb(57, 56, 56);
    --text-normal: #dcddde;
    --text-accent: rgb(97, 186, 245);
    --file-margins: 32px;

    --callout-border-width: 0px;
    --callout-border-opacity: 0.25;
    --callout-padding: 12px 12px 12px 24px;
    --callout-radius: 4px;
    --callout-blend-mode: lighten;
    --callout-title-padding: 0;
    --callout-title-size: inherit;
    --callout-content-padding: 0;
}

h1 {
    color: #ffef60;
}

h2 {
    color: #f06449;
}

h3 {
    color: #d4fcc3;
}

h4 {
    color: #72dcff;
}

button {
    border: none;
    color: white;
    padding: 5px 15px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.theme-dark {
    background: var(--background-primary);
    color: var(--text-normal);
    font-family: var(--font-default);
}

.theme-light {
    background: white;
    color: black;
    font-family: var(--font-default);
}

a.is-unresolved {
    color: rgb(97 186 245 / 65%);
}
a {
    text-decoration: underline;
    color: var(--text-accent);
}

.font-bg {
    font-size: 92px;
}

blockquote {
    background: #ffffff17;
    border-left: 10px solid #c1dbe3;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

p > code {
    //Inline code
    color: #c7254e;
    background-color: #1a1a1a;
}

.callout {
    --callout-color: 68, 138, 255;
    --callout-icon: lucide-pencil;
}
.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
    --callout-color: 0, 176, 255;
    --callout-icon: lucide-clipboard-list;
}
.callout[data-callout="info"],
.callout[data-callout="todo"] {
    --callout-color: 0, 184, 212;
}
.callout[data-callout="info"] {
    --callout-icon: lucide-info;
}
.callout[data-callout="todo"] {
    --callout-icon: lucide-check-circle-2;
}
.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
    --callout-color: 0, 191, 165;
    --callout-icon: lucide-flame;
}
.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
    --callout-color: 0, 200, 83;
    --callout-icon: lucide-check;
}
.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"] {
    --callout-color: 100, 221, 23;
    --callout-icon: help-circle;
}
.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
    --callout-color: 255, 145, 0;
    --callout-icon: lucide-alert-triangle;
}
.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
    --callout-color: 255, 82, 82;
    --callout-icon: lucide-x;
}
.callout[data-callout="danger"],
.callout[data-callout="error"] {
    --callout-color: 255, 23, 68;
    --callout-icon: lucide-zap;
}
.callout[data-callout="bug"] {
    --callout-color: 245, 0, 87;
    --callout-icon: lucide-bug;
}
.callout[data-callout="example"] {
    --callout-color: 124, 77, 255;
    --callout-icon: lucide-list;
}
.callout[data-callout="quote"],
.callout[data-callout="cite"] {
    --callout-color: 158, 158, 158;
    --callout-icon: lucide-quote;
}
.callout {
    overflow: hidden;
    border-style: solid;
    border-color: rgba(var(--callout-color), var(--callout-border-opacity));
    border-width: var(--callout-border-width);
    border-radius: var(--callout-radius);
    margin: 1em 0;
    mix-blend-mode: var(--callout-blend-mode);
    background-color: rgba(var(--callout-color), 0.1);
    padding: var(--callout-padding);
}
.callout.is-collapsible .callout-title {
    cursor: default;
}
.callout-title {
    padding: var(--callout-title-padding);
    display: flex;
    gap: 4px;
    font-size: var(--callout-title-size);
    color: rgb(var(--callout-color));
    line-height: 1.3;
}
.callout-content {
    overflow-x: auto;
    padding: var(--callout-content-padding);
}
.callout-icon {
    flex: 0 0 auto;
    display: flex;
    align-self: center;
}
.callout-icon .svg-icon {
    color: rgb(var(--callout-color));
}
.callout-title-inner {
    font-weight: 600;
}
.callout-fold {
    display: flex;
    align-items: center;
    padding-right: 8px;
}
.callout-fold .svg-icon {
    transition: transform 100ms ease-in-out;
}
.callout.is-collapsed .callout-fold .svg-icon {
    transform: rotate(-90deg);
}



/*Infobox*/
:is(.is-mobile:not(.is-tablet),
.is-mobile .is-live-preview,
.is-live-preview :not(.markdown-rendered)) .callout[data-callout~=infobox]:not([data-callout-metadata~=mobile]) {
  float: unset !important;
  max-width: 100%;
  margin: 0 !important;
  width: auto;
}

.callout.callout[data-callout~=infobox] {
  --callout-color: var(--note, var(--background-primary));
  --callout-padding: 0;
  --callout-content-padding: 5px;
  --callout-margin: 0 0 0 5px;
  background: var(--note, var(--background-primary));
  --h1-border-line-height: 0;
  --h2-border-line-height: 0;
  --h3-border-line-height: 0;
  --h4-border-line-height: 0;
  --h5-border-line-height: 0;
  --h6-border-line-height: 0;
  border: 0;
  box-shadow: none;
  width: auto;
  max-width: 300px;
  float: right;
  border-radius: var(--radius-s);
}
.callout.callout[data-callout~=infobox] > .callout-title {
  justify-content: center;
  align-items: center;
  align-self: center;
}
.callout.callout[data-callout~=infobox] > .callout-title > .callout-icon {
  align-self: center;
}
.callout.callout[data-callout~=infobox]:not(.is-collapsed) > .callout-title {
  padding: 0;
}
.callout.callout[data-callout~=infobox] .callout-fold {
  padding-right: 0;
}
.callout.callout[data-callout~=infobox].is-collapsed .callout-fold {
  border: 1px solid var(--hr, var(--background-modifier-border));
  border-radius: var(--radius-m);
}
.callout.callout[data-callout~=infobox] > .callout-title .callout-title-inner {
  display: none;
}
.callout.callout[data-callout~=infobox] > .callout-title .callout-icon {
  height: 0;
}
.callout.callout[data-callout~=infobox]:not([data-callout-metadata~=show-title],
[data-callout-metadata~=s-t],
[data-callout-metadata~=show-icon],
[data-callout-metadata~=s-i]) .callout-icon svg {
  width: 0;
  height: 0;
}
.callout.callout[data-callout~=infobox]:not(:hover):not(.is-collapsed) .callout-title {
  background-color: transparent;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox]:not(:hover):not(.is-collapsed) > .callout-title, .callout.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]):not(:hover):not(.is-collapsed) > .callout-title {
  display: flex;
  gap: 0;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox].is-collapsed .callout-title, .callout.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]).is-collapsed .callout-title {
  border: 1px solid var(--hr, var(--background-modifier-border));
  display: flex;
  align-items: center;
  align-content: center;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox] .callout-title .callout-title-inner, .callout.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-title .callout-title-inner {
  display: unset;
  align-items: center;
  align-content: center;
  padding: 5px 10px;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox] .callout-fold, .callout.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-fold {
  margin-top: auto;
  margin-bottom: auto;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox].is-collapsed .callout-fold, .callout.callout[data-callout~=infobox]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]).is-collapsed .callout-fold {
  border: 0;
}
.callout.callout[data-callout~=infobox] > .callout-content {
  border: 1px solid var(--table, var(--background-modifier-border));
  margin: 0;
  border-radius: var(--radius-s);
}
.callout.callout[data-callout~=infobox] table {
  width: 100%;
}
.callout.callout[data-callout~=infobox] table td {
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
}
.callout.callout[data-callout~=infobox] :is(p, table) {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
.callout.callout[data-callout~=infobox] .callout-content > :is(h1, h2, h3, h4, h5, h6) {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 2px;
  color: var(--text-normal);
  background: var(--outer-bar, var(--background-secondary));
}
.callout.callout[data-callout~=infobox] .internal-embed, .callout.callout[data-callout~=infobox] img {
  display: block;
  margin: auto;
  padding: auto;
  text-align: center;
}
.callout.callout[data-callout~=infobox][data-callout-metadata][data-callout-metadata][data-callout-metadata~=left] {
  --callout-margin: 0 5px 0 0;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox] {
  max-width: unset;
  float: unset;
  --callout-margin: 5px 0 0 0;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox] > .callout-title {
  color: var(--text-normal);
  background: var(--outer-bar, var(--background-secondary));
  border: 1px solid var(--table, var(--background-modifier-border));
  border-bottom: none;
}
.callout.callout[data-callout~=infobox] .callout-content > .callout[data-callout~=infobox] > .callout-content {
  border-top: none;
}

.callout.callout[data-callout~=infobox][data-callout-metadata~=wikipedia] table {
  --table-header-color: var(--text, var(--text-normal));
  --table-header-background: transparent;
  --table-header-background-hover: var(--td, var(--table-background));
  --table-row-background-hover: var(--td, var(--table-background));
  --table-row-alt-background: transparent;
  --table-column-alt-background: transparent;
  --table-border-color: transparent;
  --table-header-border-color: transparent;
}
.callout.callout[data-callout~=infobox][data-callout-metadata~=wikipedia] table tr:last-child {
  margin-bottom: 2px;
}

@media print {
  .callout[data-callout~=infobox] {
    max-width: 400px;
  }
}
.theme-light .callout[data-callout~=infobox][data-callout-metadata~=wikipedia] {
  --th-text: var(--th);
}

.illusion.illusion .callout[data-callout~=infobox].is-collapsed.is-collapsed[data-callout-metadata~=left] {
  margin-left: -30px;
}
.illusion.illusion .callout[data-callout~=infobox].is-collapsed.is-collapsed[data-callout-metadata~=right] {
  margin-right: -30px;
}
.illusion.illusion .callout[data-callout~=infobox] [data-heading] {
  --illusion-box-shadow: none;
  --header-shadow: var(--illusion-box-shadow);
  --h1-shadow: var(--header-shadow);
  --h2-shadow: var(--header-shadow);
  --h3-shadow: var(--header-shadow);
  --h4-shadow: var(--header-shadow);
  --h5-shadow: var(--header-shadow);
  --h6-shadow: var(--header-shadow);
}

.callout.callout[data-callout=statblocks] {
  --callout-color: var(--accent-rgb);
  --callout-icon: swords;
  --callout-padding: 12px 15px;
  --callout-margin: 10px auto;
  --callout-border-color: var(--hr, var(--hr-color));
  border-width: 5px 0 5px 0;
  border-style: solid;
  margin: var(--callout-margin);
  min-width: 10ch;
  max-width: 42ch;
  background: transparent;
  box-shadow: var(--shadow-l), 0 0 20px var(--outline, var(--hr-color));
}
.callout.callout[data-callout=statblocks] > .callout-content {
  --heading-spacing-top: 0;
  --heading-spacing-bottom: 0;
  --p-spacing: 7px;
  --bold-color: var(--headers, var(--h1-color));
  --hr-icon-symbol: "";
}
.callout.callout[data-callout=statblocks] h1 {
  width: auto;
}
.callout.callout[data-callout=statblocks] img:not([class], [width]) {
  box-shadow: 0 0 0 4px var(--headers, var(--background-modifier-border));
  margin-right: 4px;
}
.callout.callout[data-callout=statblocks] h1::after, .callout.callout[data-callout=statblocks] h1::before, .callout.callout[data-callout=statblocks] > .callout-title {
  display: none;
}
.callout.callout[data-callout=statblocks] blockquote {
  --blockquote-border-thickness: 0;
  --blockquote-padding: 5px 0px 2px 0;
  --blockquote-color: var(--soft-text, var(--text-faint));
  --blockquote-background-color: transparent;
  margin-block-start: 0;
  margin-block-end: 0;
}
.callout.callout[data-callout=statblocks] hr {
  margin: 12px auto;
}
.callout.callout[data-callout=statblocks] table {
  --table-header-background: transparent;
  --table-header-color: var(--headers, var(--text-faint));
  --table-header-border-color: transparent;
  --table-row-alt-background: transparent;
  --table-column-alt-background: transparent;
  --table-border-color: transparent;
  --table-cell-padding-y: 1px;
  --table-cell-padding-x: 4px;
  --table-header-padding-y: 1px;
  --table-header-padding-x: 4px;
  --table-style-column-header-background: transparent;
  --table-style-column-header-bold-weight: var(--text-weight);
  --table-style-column-header-bold-color: var(--text, var(--text-normal));
  margin: 12px auto;
  width: unset;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=full] {
  max-width: 100%;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns] {
  max-width: 100%;
  --columns: 2;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="1"] {
  --columns: 1;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="2"] {
  --columns: 2;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="3"] {
  --columns: 3;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="4"] {
  --columns: 4;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="5"] {
  --columns: 5;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="6"] {
  --columns: 6;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="7"] {
  --columns: 7;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="8"] {
  --columns: 8;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns][data-callout-metadata~="9"] {
  --columns: 9;
}
.callout.callout[data-callout=statblocks][data-callout-metadata~=columns] > .callout-content {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 15px;
}
